body{
    font-family: 'Fira Sans', sans-serif;
   

}

h1{
    text-align: center;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-left: 10em;
    
}


.__container{
    width: 100vw;
    
}

input{
    width: 20%;
    margin: 0.5rem;
    
}


